version: "3.8"
services:
  postgres:
    image: postgres:16
    container_name: postgress-db-collabflow
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: collabflow
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  redis:
    image: redis:latest
    container_name: redis_cache-collabflow
    restart: always
    ports:
      - "6379:6379"
volumes:
  postgres_data:
    driver: local
